body{
    border: 5px solid #eee!important;
    padding: 0px 20px!important;
    display: inline-block;
}

#timertext{
    font-size: 2em;
    vertical-align: middle;
    color: #526d8a;
    font-weight: bold;
}

#counter{
  border: 2px solid #526d8a;
  padding: 10px 20px;
  color: #526d8a;
  font-weight: bold;
  font-size: 2em;
  vertical-align: middle;
}


/*Button Styles*/
a.bigblue.big-button:hover {
    color: #ffffff !important;
    background: #384a5e !important;
    border-width: 0px !important;
}
a.bigblue.big-button:hover {
    color: #ffffff !important;
    background: #384a5e !important;
    border-width: 0px !important;
}
a.big-button:hover {
    text-decoration: none;
}
a.smallblue:hover, a.bigblue:hover {
    color: #23528c !important;
}
a.small-button:hover, a.big-button:hover, a.icon-button:hover {
    text-decoration: none;
}
a.bigblue.big-button {
    color: #ffffff !important;
    background: #526d8a !important;
    border-width: 0px !important;
    padding: 10px 20px !important;
}
a.bigblue.big-button {
    color: #ffffff !important;
    background: #526d8a !important;
    border-width: 0px !important;
    padding: 10px 20px !important;
}
.et_pb_text > :last-child {
    padding-bottom: 0;
}
a.big-button, a.small-button, a.icon-button {
    cursor: pointer;
}
a.big-button {
    font-weight: normal !important;
    font-size: 20px;
    padding: 14px 24px;
    margin: 8px 6px 8px 0;
}
a.smallblue, a.bigblue {
    color: #2b63a8 !important;
    background: #88bdff;
    background: -moz-linear-gradient(top, #88bdff 0%, #60a7ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88bdff), color-stop(100%,#60a7ff));
    background: -webkit-linear-gradient(top, #88bdff 0%,#60a7ff 100%);
    background: -o-linear-gradient(top, #88bdff 0%,#60a7ff 100%);
    background: -ms-linear-gradient(top, #88bdff 0%,#60a7ff 100%);
    background: linear-gradient(to bottom, #88bdff 0%,#60a7ff 100%);
    border: 1px solid #3e8ff4;
}
a.small-button, a.big-button, a.icon-button {
    display: inline-block;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
    -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.1);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    line-height: 26px;
}
a:hover {
    text-decoration: none;
}
:focus {
    outline: 0;
}
a {
    color: #2ea3f2;
    text-decoration: none;
}


/*Arrows*/
.positionCameras ul, .positionCameras li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    vertical-align: top; /* added */

}
.positionCameras li.cameraLeft, 
.positionCameras li.cameraIcon, 
.positionCameras li.cameraRight {
    position: relative; /* added */
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: #526d8a;
    margin: 5px;
    border-radius: 5px;
}

.positionCameras li:hover {
    background: #384a5e;
}

[class*="icono-"]:hover{
    color: #384a5e;
}


.positionCameras li.cameraLeft:before {
    content:""; 
    /* added */
    position: absolute; 
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);    
    transform: translate(-50%, -50%);  
    /* end added */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent white transparent;
}
.positionCameras li.cameraIcon {
    cursor: default;
}
.positionCameras li.cameraRight:before {
    content:""; 
    /* added */
    position: absolute; 
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);    
    transform: translate(-50%, -50%);  
    /* end added */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: white transparent transparent transparent;
}


.positionCameras, p{
    display: inline-block;
    vertical-align: middle;
}

[class*="icono-"], [class*="icono-"] * {
    box-sizing: border-box;
}
[class*="icono-"] {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    color: #526d8a;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
}
.icono-reset {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-left-color: transparent;
    margin: 4px;
}

[class*="icono-"]::after, [class*="icono-"]::before {
    content: '';
    pointer-events: none;
}
.icono-reset::before {
    position: absolute;
    width: 0;
    height: 0;
    left: -7px;
    bottom: 0;
    border-width: 6px;
    border-style: solid;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

[class*="icono-"]::after, [class*="icono-"]::before {
    content: '';
    pointer-events: none;
}


